{
    "Version": "2012-10-17",
    "Statement": [
        {% if allow_read_s3_buckets is defined %}
        {
            "Effect": "Allow",
            "Action": [
                "s3:Get*",
                "s3:List*",
                "s3:Describe*"
            ],
            "Resource": [
                {% for bucket in allow_read_s3_buckets %}
                "arn:aws:s3:::{{ bucket }}/*", 
                "arn:aws:s3:::{{ bucket }}"{% if not loop.last %},
                {% endif %}{% endfor %} 
            ]
        },
        {% endif %}

        {% if allow_write_s3_buckets is defined %}
        {
            "Effect": "Allow",
            "Action": [
                "s3:PutObject",
                "s3:DeleteObject"
            ],
            "Resource": [ 
                {% for bucket in allow_write_s3_buckets %}
                "arn:aws:s3:::{{ bucket }}"{% if not loop.last %},
                {% endif %}{% endfor %} 
            ]
        },
        {% endif %}       

        {% if allow_write_custom_service is defined and 'rds' in allow_write_custom_service %}
        {% set rds_list = allow_write_custom_service["rds"] %}
        {
            "Effect": "Allow",
            "Action": [
                "rds:*"
            ],
            "Resource": [ 
                {% for resource in rds_list in  %}
                    {{ resource }}"{% if not loop.last %},
                {% endif %}{% endfor %} 
            ]
        },
        {% endif %}  

        {% if allow_write_custom_service is defined and 'cloudwatch' in allow_write_custom_service %}
        {% set rds_list = allow_write_custom_service["rds"] %}
        {
            "Effect": "Allow",
            "Action": [
                "rds:*"
            ],
            "Resource": [ 
                {% for resource in rds_list in  %}
                    {{ resource }}"{% if not loop.last %},
                {% endif %}{% endfor %} 
            ]
        }
        {% endif %}    
    ]
}